h1 {
  color: red;
  font-family: Sans-serif;
}
h4 {
  color: red;
  font-style: italic;
  font-family: Sans-serif;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  margin-top: 60px;
  background-color: #cdcdcd;
}
h3 {
  margin-top: 20px;
  text-align: center;
}
#facts {
  font-size: 15px;
  width: 70%;
  margin: auto;
}
ul {
  font-size: 15px;
  width: 70%;
  margin: auto;
}
h5 {
  margin-top: 20px;
  text-align: center;
}
p {
  margin-top: 20px;
  text-align: center;
}
